.project-form-wrapper {
    position: absolute;
    width: 500px;
    height: 120px;
    top: calc(50vh - 60px);
    left: calc(50vw - 250px);
    /* transform: translate(-50%, -50%); */
    margin:auto;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
    background-color: #5ec57e;
    z-index: 99999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-form-submit {
    display: block;
    /* margin-top: 10px; */
    font-family: 'Barlow';
    font-size: 20px;
    background-color: #b8e28a;
    border: solid 2px green;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.project-form-name-label {
    display: block;
    color: black;
    font-family: 'Barlow';
    font-size: 20px;
}

#project-form-name-input {
    padding: 0px 3px;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 12px;
    font-family: 'Barlow';
    font-size: 20px;
}

.project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.project-form-error {
    color: darkred;
}
