* {
    color: #347571;
    color: #356276;
    color: #3e3a4a;
    color: #5ec57e;  /* background color */
    color: #b8e28a;
    color: #dcf4ce;
    color: #ecf8e5;
    color: #f7fdf3;
    color: #ffffff;
    color: #004138;
    color: #245D5A;
}
