/* TODO Add site wide styles */
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

#root {
    height: 100%;
}

.main-div {
    height: 100%
}

@font-face {
    font-family: 'Maragsa';
    src: local('Maragsa'), url(./fonts/Maragsa.otf) format('opentype');
    /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
  }
