.channels-container {
    /* position: absolute;
    left: 72px;
    top: 0; */
    font-family: 'Barlow';
    font-size: 16px;
    min-width: 240px;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    background: #b8e28a;
    color: #5ec57e;
    z-index: 0
}

.username-text {
    margin-left: 15px;
    font-family: 'Maragsa';
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 15px;
    /* position: absolute;
    bottom: 20px; */
}

.selected-project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
    padding-left: 15px;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom:3px solid #5ec57e;
    margin-bottom: 15px;
}

.selected-project-text {
    font-family: 'Maragsa';
    font-size: 20px;
    padding-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px;
    margin-right: auto;
}

.add-channel-button {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* text-align: center; */
    /* padding-bottom: 10px; */
    /* margin-left: 10px; */
    /* line-height: 40px;
    width: 40px;
    height: 40px;
    font-size: 40px;
    box-sizing: border-box;
    margin-top: 4px;
    box-sizing: border-box; */
    /* min-width: 25px; */
    margin-top: 8px;
    margin-right: 17px;
    box-sizing: border-box;
}

.add-channel-button:hover {
    cursor: pointer;
    background-color: #5ec57e;
    border-radius: 25%;
    color: green;
}


.single-channel-container {
    padding-left: 15px;
    box-sizing: border-box;
    max-width: 240px;
}

.single-channel-container:hover {
  cursor: pointer;
}

.progress-bar-wrapper {
    width: 125.4px;
    height: 125.4px;
    /* margin-top: 20px; */
    display: block;
    margin: auto;
    border: 2px solid #356276;
    border-radius: 50%;
}

.dashboard {
    /* display: block; */
    margin: auto;
    margin-top: 20px;
}

.channel-selector-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5ec57e;
}

.channel-selector {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
  min-height: 27px;
}

.channel-selector-wrapper:hover {
  color: #dcf4ce;
}
.single-channel-container:hover {
  background-color: #5ec57e;
  border-radius: 10px;
  /* color: black; */
}

.channel-settings-icon {
  padding-right: 5px;
  position: relative;
}

/* .channel-settings-icon:hover {
  color: green;
} */

.channel-settings-icon:hover > .channel-settings-icon-bubble-text {
  display: block
}

.channel-settings-icon-bubble-text {
  display: none;
  position: absolute;
  left: -25px;
  top: -31px;
  color: black;
  z-index: 999999;
  width: 70px;
  height: 25px;
  background-color: #5ec57e;
  border-radius: 5px;
  text-align: center;
  /* pointer-events:none; */
}

.channel-settings-icon-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #245D5A;
  position: absolute;
  right: 12px;
  top: -6px;
  display: none;
}
.channel-settings-icon:hover > .channel-settings-icon-arrow {
  display: block
}

.channel-settings-options-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #245D5A;
  position: absolute;
  right: -13px;
  top: 8px;
  display: block;
  z-index: 9999999;
  transform: rotate(.25turn);
}

/* .channel-settings-icon:hover > .channel-settings-options-wrapper > .channel-settings-options-arrow {
  display: block
} */

.channel-settings-options-bubble-text {
  width: 75px;
  height: 50px;
  position: absolute;
  background-color: #5ec57e;
  z-index: 9999999;
  right: -85px;
  top: -14px;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.channel-settings-edit-button {
  padding-bottom: 5px;
  line-height: 20px;
}

.channel-settings-delete-button {
  padding-bottom: 5px;
  line-height: 20px;
}

.channel-settings-edit-button:hover {
  background-color: green;
  border-radius: 5px;
}

.channel-settings-delete-button:hover {
  background-color: green;
  border-radius: 5px;
}

.channels-text {
  font-size: 20px;
  font-family: 'Barlow';
  text-align: center;
  text-decoration: underline;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: 10px;
}

.selected-project-wrapper {
  display: flex;
  margin-top: 7px;
  border-bottom:3px solid #5ec57e;
  padding-bottom: 11px;
  align-items: center;
  justify-content: center;
}

.channels-wrapper {
  overflow: auto;
  height: 85%;
}

.channel-settings-mui-icon-edit:hover {
  cursor: pointer;
  background-color: #5ec57e;
  border-radius: 25%;
  color: green;
}

.channel-settings-mui-icon-delete:hover {
  cursor: pointer;
  background-color: #5ec57e;
  border-radius: 25%;
  color: green;
}

.channels-menu-wrapper {
  display: flex;
  align-items: center;
}

.edit-project-button {
  padding: 2px;
}

.delete-project-button {
  padding: 2px;
}

.edit-project-button:hover {
  cursor: pointer;
  background-color: #5ec57e;
  border-radius: 25%;
  color: green;
}

.delete-project-button:hover {
  cursor: pointer;
  background-color: #5ec57e;
  border-radius: 25%;
  color: green;
}

.invite-project-button:hover {
  cursor: pointer;
  background-color: #5ec57e;
  border-radius: 25%;
  color: green;
}

.invite-project-button {
  padding: 2px;
}

.mui-west-icon {
  padding: 2px;
  margin-right: 2px;
}

.mui-west-icon:hover {
  cursor: pointer;
  background-color: red;
  border-radius: 25%;
  color: white;
}

.empty-channels-text {
  text-align: center;
}
