.channels-container {
    /* position: absolute;
    left: 72px;
    top: 0; */
    font-family: 'Barlow';
    font-size: 16px;
    padding-top: 20px;
    min-width: 240px;
    background: #b8e28a;
    color: #5ec57e;
}

.username-text {
    margin-left: 15px;
    font-family: 'Maragsa';
    font-size: 22px;
}

.selected-project-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    padding-left: 15px;
    padding-bottom: 10px;
    justify-content: space-between;
    border-bottom:3px solid #5ec57e;
    margin-bottom: 15px;
}

.selected-project-text {
    font-family: 'Maragsa';
    font-size: 20px;
    min-width: 180px;
}

.add-channel-button {
    text-align: center;
    /* padding-bottom: 10px; */
    /* margin-left: 10px; */
    /* line-height: 30px; */
    font-size: 30px;
    box-sizing: border-box;
    min-width: 25px;

}

.add-channel-button:hover {
    cursor: pointer;
    background: darkgreen;
    border-radius: 10px;
}


.single-channel-container {
    padding-left: 15px;
    box-sizing: border-box;
}

.single-channel-container:hover {
  cursor: pointer;
}

.progress-bar-wrapper {
    width: 125.4px;
    height: 125.4px;
    /* margin-top: 20px; */
    display: block;
    margin: auto;
    border: 2px solid #356276;
    border-radius: 50%;
}

.dashboard {
    /* display: block; */
    margin: auto;
    margin-top: 20px;
  }

  .svg-animation {
    display: block;
    width: 114px;
    height: 114px;
    margin: auto;
    margin-top: 6px;
  }

  .bg {
    fill: none;
    stroke-width: 10px;
    /* stroke: #1A2C34; */
  }

  [class^="meter-"] {
    fill: none;
    stroke-width: 10px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;

  }

  .meter-2 {
    stroke: #5ec57e;
    stroke-dasharray: 360;
    stroke-dashoffset: 160;
    animation: progress-2 .75s ease-out;
  }

  @keyframes progress-1 {
      from {
          stroke-dashoffset: 360;
      }
      to {
          stroke-dashoffset: 100;
      }
  }

  @keyframes progress-2 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 160;
    }
  }

  @keyframes progress-3 {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 250;
    }
  }

.channel-selector-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #5ec57e;
}

.channel-selector {
  width: 100%;
  /* height: 25px; */
}

.channel-selector-wrapper:hover {
  color: #dcf4ce;
}
.single-channel-container:hover {
  background-color: #5ec57e;
  border-radius: 10px;
  /* color: black; */
}

.channel-settings-icon {
  padding-right: 5px;
  position: relative;
}

.channel-settings-icon:hover {
  color: green;
}

.channel-settings-icon:hover > .channel-settings-icon-bubble-text {
  display: block
}

.channel-settings-icon-bubble-text {
  display: none;
  position: absolute;
  left: -25px;
  top: -31px;
  color: black;
  z-index: 999999;
  width: 70px;
  height: 25px;
  background-color: #5ec57e;
  border-radius: 5px;
  text-align: center;
  /* pointer-events:none; */
}

.channel-settings-icon-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #245D5A;
  position: absolute;
  right: 12px;
  top: -6px;
  display: none;
}
.channel-settings-icon:hover > .channel-settings-icon-arrow {
  display: block
}

.channel-settings-options-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #245D5A;
  position: absolute;
  right: -13px;
  top: 15px;
  display: block;
  z-index: 9999999;
  transform: rotate(.25turn);
}

/* .channel-settings-icon:hover > .channel-settings-options-wrapper > .channel-settings-options-arrow {
  display: block
} */

.channel-settings-options-bubble-text {
  width: 75px;
  height: 50px;
  position: absolute;
  background-color: #5ec57e;
  z-index: 9999999;
  right: -85px;
  top: -10px;
  color: black;
  text-align: center;
  border-radius: 5px;
}

.channel-settings-edit-button {
  padding-bottom: 5px;
}
