.message-form-wrapper {
    position: absolute;
    width: 500px;
    height: 240px;
    top: calc(50vh - 120px);
    left: calc(50vw - 250px);
    /* transform: translate(-50%, -50%); */
    margin:auto;
    border: 1px solid green;
    border-radius: 10px;
    text-align: center;
    background-color: #5ec57e;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.edit-message-input {
    font-family: 'Barlow';
    font-size: 16px;
    width: 450px;
    height: 120px;
    margin-top: 8px;
    resize: none;

}

.edit-message-submit-button {
    display: block;
    margin-top: 3%;
    font-family: 'Barlow';
    font-size: 20px;
    background-color: #b8e28a;
    border: solid 2px green;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.message-form-label {
    color: black;
    font-family: 'Barlow';
    font-size: 20px;
}

.edit-message-input-wrapper {
    width: 90%;
}

.edit-message-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
